html, body {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/************ Header **************************************/

header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding: 1rem 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: cadetblue;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.name_icon {
  display: flex;
  align-items: center;
}

.name_icon img {
  height: 1.5rem;
  margin-right: 1rem;
}

.menu li {
  display: inline-block;
}

.menu li:nth-child(1), .menu li:nth-child(2) {
  margin-right: 2rem;
}

header .flex {
  justify-content: flex-end;
}

.main-banner h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  background: white;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

/************** Supporting *****************************/


/******* 1st Section ********/

.supporting {
  display: flex;
  justify-content: center;

}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem 0;
}

.service.comp, .service.fittings {
  margin-right: 6rem;
}

.service p {
  text-align: center;
}

.comp img {
  width: 3.5rem;

}

.fittings img {
  width: 5rem;
}

.truck img {
  width: 5rem;
}

/********** Second Section *******/


.info {
  width: 35%;
  margin-bottom: 5rem;
}

.info .title {
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  background: cadetblue;
}

.supporting.container .info:nth-child(1) {
  margin-right: 5%;
}

/*************** Footer **********************/
